<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MyCV</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- SERVLET MAPPING -->

	<servlet>
		<description></description>
		<display-name>AuthenticationServlet</display-name>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>com.dev.myproject.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/authentication</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.dev.myproject.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- JSP FILE MAPPING -->

	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login-page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CVPage</servlet-name>
		<jsp-file>/cv-page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CVPage</servlet-name>
		<url-pattern>/chauquocminh-curriculum-vitae</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorPage</servlet-name>
		<jsp-file>/error-page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorPage</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

</web-app>